<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Reservas</title>

<!-- jala css -->
<link href="assets/stylesheets/tablecloth.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="assets/stylesheets/tablecloth.js"></script>
<!-- fin css -->

<p id="notice"><%= notice %></p>

<h1>Lista de reservas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      
      <th>Correo</th>
      <th>Miembro</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Sala</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.nombre %></td>
        
        <td><%= order.correo %></td>
        <td><%= order.miembro %></td>
        <td><%= order.fecha %></td>
        <td><%= order.hora %></td>
        <td><%= order.info %></td>
        
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<!--empieza prueba -->
<style>

body{
	margin:0;
	padding:0;
	background:#f1f1f1;
	font:118% Arial, Helvetica, sans-serif; 
	color:#555;
	line-height:150%;
	text-align:left;
}
a{
	text-decoration:none;
	color:#057fac;
}
a:hover{
	text-decoration:none;
	color:#999;
}
h1{
	font-size:140%;
	margin:0 20px;
	line-height:80px;	
}
h2{
	font-size:120%;
}
#container{
	margin:0 auto;
	width:680px;
	background:#fff;
	padding-bottom:20px;
}
#content{margin:0 20px;}
p.sig{	
	margin:0 auto;
	width:680px;
	padding:1em 0;
}
form{
	margin:1em 0;
	padding:.2em 20px;
	background:#eee;
}
</style>

</head>
</html>
<!--termina prueba -->

<br>

<%= link_to 'Nueva reserva', new_order_path %>
<b> | </b>
<a href="pages/reservation.html">Cancel</a>
