<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Password</th>
      <th>Correo</th>
      <th>Miembro</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.nombre %></td>
        <td><%= order.password %></td>
        <td><%= order.correo %></td>
        <td><%= order.miembro %></td>
        <td><%= order.fecha %></td>
        <td><%= order.hora %></td>
        <td><%= order.info %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
<a href="/">Cancel</a>
