<li><%= link_to "Salas Premium", pages_premium_path  %></li>

<li><%= link_to "Salas Basicas", pages_basic_path  %> </li>
<!--
<li><%= link_to "Salas Generales", pages_general_path  %> </li>
-->
<li><%= link_to "Salas Privadas", pages_private_path  %> </li>
<!--
<li><%= link_to "Salas Corporativas", pages_corporate_path  %> </li>
-->
<!--
<li><%= link_to "Salas Grupales", pages_group_path  %> </li>
-->
<li><%= link_to "Reservas", pages_reservation_path  %> </li>

<li><%= link_to "Eventos", pages_event_path  %> </li>

<li><%= link_to "Salas de Baile", pages_dance_path  %> </li>
<!--
<li><%= link_to "Presentaciones en Vivo", pages_presentation_path  %> </li>
-->
<li><%= link_to "Trabaja con Nosotros", pages_work_with_us_path  %> </li>

<li><%= link_to "Acerca de Nosotros", pages_about_us_path  %> </li>

  <li><%= link_to "Dejenos sus Comentario", pages_comentario_path  %> </li>
  
  <li><%= link_to "Contáctanos", pages_contact_us_path  %> </li>



